# Dependencias (nunca se suben, se instalan con npm install)
node_modules/

# Logs de error y depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (contienen secretos/llaves)
.env
.env.local
.env.test

# Directorios de compilación/salida
dist/
build/

# Archivos del sistema u otros
.DS_Store
